.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.navLogo{
    display: flex;
    align-items: center;
    gap:10px;
}
.navLogo{
    font-size: 37px;
    font-weight: 600;
    color:black;
}
.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    color: #626262;
    gap:50px;
}
.navMenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    cursor: pointer;
}
.link{
    color:black;
    text-decoration: none;
}
.navMenu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(255, 11, 11);
}  
.navLoginCart {
    display: flex;
    align-items: center;
    gap:45px;
}
.navLoginCart button {
    width: 157px;
    height:58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.navLoginCart button:active{
    background: #f3f3f3;
}
.navCartCount{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    margin-left:  -55px;
    border-radius: 5px;
    font-size: 14px;
    background: red;
    color: white;
}